HELP.md
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.DS_Store
/src/main/generated/
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/checksums/sha1-checksums.bin
.idea/gradle.xml
.idea/modules/programclass.iml
.idea/modules/programclass.main.iml
.idea/modules/programclass.test.iml
.idea/sonarlint/issuestore/b/5/b511483d4c241c3522ba6db83de785addcf92c14
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/index.pb
